.boton-contenedor {
	height: 83px;
	display: flex;
	flex: 1 1;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 38px;
	background-color: #4a4a4a;
	color: white;
	border-radius: 25px;
	border: 2px solid white;
	margin: 4px;
	cursor: pointer;
	user-select: none;
}

.boton-contenedor:hover {
	background-color: rgb(33, 33, 33);
}

.operador {
	background-color: rgb(33, 33, 33);
}

.operador:hover {
	background-color: #4a4a4a;
}

.boton-resultado {
	background-color: rgb(142, 220, 220);
	color: rgb(33, 33, 33);
}
.boton-resultado:hover {
	background-color: rgb(110, 170, 170);
}

